### 1. Loading Dependencies

In [1]:
import pickle 
import numpy as np 
import pandas as pd

### 2. Generating DataFrame with Randomly Generated Data

In [2]:
data = {"alpha":np.random.randint(10,100,500), "beta":np.random.randint(500,900,500)}

df = pd.DataFrame(data)

df.head()

   alpha  beta
0     38   593
1     10   509
2     18   506
3     18   872
4     86   659

### 3. Saving it to a Pickle File - df.to_pickle()

In [3]:
df.to_pickle('dataframe.pkl')

### 4. Loading the Pickle File to DataFrame - pd.read_pickle()

In [4]:
df_reloaded = pd.read_pickle('dataframe.pkl')
df_reloaded.head()

   alpha  beta
0     38   593
1     10   509
2     18   506
3     18   872
4     86   659